<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .caixas {
        display: flex;
        justify-content: space-around;
      }

      .demo {
        background-color: grey;
        height: 100px;
        width: 100px;
      }

      .c1 {
        background-color: red;
      }

      .c2 {
        background-color: blue;
      }
      q .c3 {
        background-color: green;
      }

      .girar {
        transform: rotate(45deg);
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="caixas">
        <div class="demo" :style="{backgroundColor: cor}"></div>
        <div class="demo" :style="meuEstilo"></div>
        <div
          class="demo"
          :style="[{backgroundColor: cor}, {height: altura + 'px'}, {width: largura + 'px'}]"
        ></div>
      </div>
      <hr />
      <input type="text" v-model="cor" />
      <input type="text" v-model="largura" />
      <input type="text" v-model="altura" />
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          cor: "red",
          largura: 100,
          altura: 100,
        },
        computed: {
          meuEstilo() {
            return {
              backgroundColor: this.cor,
              width: `${this.largura}px`,
              height: `${this.altura}px`,
            };
          },
        },
      });
    </script>
  </body>
</html>
